
.answerchoice {
	border: 1px solid black;
  border-radius: 5%;
	width: 40%;
	color: black;
  text-align: center;
  margin: 10px auto;
  font-size: 20px;
  background-color: rgba(119, 231, 231, 0.582);

}

img {
  max-height: 250px;
  width: auto;
}

#answerblock {
  text-align: center;

}

#questionblock {
  text-align: center;
  font-weight: bold;
}

#reset {
    position: relative;
  visibility: visible;
}

body {
  background-image: url("../images/backdrop.jpg");
  background-size: cover;
  font-family: 'Karla', sans-serif;
}

h1 {
  text-align: center;
  text-decoration-line: white;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  padding: 20px;
  font-size: 55px;
}

p {
  margin: 10px;
  font-weight: bold;
  color: rgb(255, 2, 2);
  font-size: 30px;
}

h2, h4 {
  margin: 30px;
  font-weight: bold;
}

.wrapper {
  margin: 10px auto;
  background-color: rgba(255, 255, 255, 0.829);
  border: 2px solid rgb(255, 12, 255);
  height: 500px;
  width: 60%;
  text-align: center;
}

.btn {
  position: relative;
  bottom: -150px;
}